*{
	font-family: "Dancing Script", cursive;
}
body{
	background-color: #02010a;
}
#Encabezado{
	background-color: #5b7989;
	color: white;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}
#Titulo{
	text-shadow: 1px 2px 2px #02010a;
}
ul{
	list-style-type: none;
}
a:link, a:visited {
	padding: 0 1px;
	text-decoration: underline;
	color: white;
}
.Contenedor{
	margin: 0 auto;
  	width: 900px;
	display: flex;
	flex-flow: row wrap;
}
.Contenedor2{
	margin: 0 auto;
  	width: 900px;
	background-color: #d5c75f;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.Central {
  	background-color: #82c3a6;
	width: 100%;
}
.Central img{
	width: 80%;
}
.Izquierda img{
  	width: 50%;
}
.Derecha img{
  	width: 50%;
}
#Pie{
	background-color: #C6d5c5;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}